.date{
    font-size: 5rem;
    font-family: 'IBM Plex Mono', monospace;
}

.ContentBox{
    margin: 5% auto;
    width: 25%;
}

.ContentBox input {
    margin-bottom: 5%;
    text-align: center;
}

.ContentBox button{
    width: 100%
}


.register{
    font-size: 1.3rem;
}

.result{
    font-size: 1.2rem;
    align-content: flex-end;
    text-align: end;
    font-weight: bold;
}